# Pandas Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#List -> Series
country=['India','Tibet','Nepal']

pd.Series(country)

0    India
1    Tibet
2    Nepal
dtype: object

In [ ]:
#Int Series
score = [1,3,2,5,9]
pd.Series(score)

0    1
1    3
2    2
3    5
4    9
dtype: int64

In [ ]:
#Custom Indexing

Marks=[22,33,44,89]
Subjs = ['eng','sci','his','mat']

pd.Series(Subjs,  index = Marks)

22    eng
33    sci
44    his
89    mat
dtype: object

In [ ]:
#Setting a name
pd.Series(Subjs,  index = Marks, name ='marks_pass')

22    eng
33    sci
44    his
89    mat
Name: marks_pass, dtype: object

In [ ]:
#Forming series from Dictionary

Marks={
    'eng':22,
    'sci':30,
    'mat':25
}
marks_series = pd.Series(Marks , name ='marks_dict')
print(marks_series)

eng    22
sci    30
mat    25
Name: marks_dict, dtype: int64

#Series Attributes

In [ ]:
marks_series.size

3

In [ ]:
marks_series.dtype

dtype('int64')

In [ ]:
#is_unique
marks_series.is_unique

True

In [ ]:
#index
marks_series.index

Index(['eng', 'sci', 'mat'], dtype='object')

In [ ]:
#values
marks_series.values

array([22, 30, 25])

# Creating Series from CSV

In [ ]:
df = pd.read_csv('/content/subs.csv').squeeze()
df

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
df = pd.read_csv('/content/kohli_ipl.csv', index_col='match_no').squeeze()

In [ ]:
df.sample() #randomly picks a data point from the series
df.sample(10)

match_no
70     24
68     73
48     39
88     31
160    84
212    20
139     6
200    41
159    23
194     5
Name: runs, dtype: int64

In [ ]:
#value_counts
df = pd.read_csv('/content/bollywood.csv').squeeze()

In [ ]:
df.value_counts()

movie                     lead
Andaaz                    Akshay Kumar        2
Tanu Weds Manu: Returns   Kangana Ranaut      2
Gabbar Is Back            Akshay Kumar        2
1920 (film)               Rajniesh Duggall    1
Newton (film)             Rajkummar Rao       1
                                             ..
Ghayal: Once Again        Sunny Deol          1
Ghanchakkar (film)        Vidya Balan         1
Ghajini (2008 film)       Aamir Khan          1
Genius (2018 Hindi film)  Utkarsh Sharma      1
Zor Lagaa Ke...Haiya!     Meghan Jadhav       1
Length: 1497, dtype: int64

In [ ]:
#sort_values
df.sort_values(by="lead",ascending =True ).head(1).values[0]

array(['Qaidi Band', 'Aadar Jain'], dtype=object)

In [ ]:
df.sort_values(by="lead",ascending =True, inplace= True )

In [ ]:
#sort Index
df.sort_index(inplace=True)

In [ ]:
#count -skips missing values
vk = pd.read_csv('/content/kohli_ipl.csv').squeeze()
vk.count()

match_no    215
runs        215
dtype: int64

In [ ]:
#operations
vk.sum()
vk.mean()
vk.prod()
vk.std()
vk.var()
vl.min()
v1.max()

NameError: name 'vl' is not defined

In [ ]:
print(df.mode())

In [ ]:
vk.describe()

In [ ]:
#Series Indexing
x = pd.Series([10,20,30,40,50,60,110])
x[0]
x[-1] #no -ve indexing

In [ ]:
#Edit series
vk[1]=0
vk

In [ ]:
vk[216] = 22 #if the index exceeds the length, newly specified index is appended

In [ ]:
vk[12:22]=[100]

In [ ]:
#typecasting
#converting series to list
x = list(vk)
print(type(x))

<class 'list'>

In [ ]:
#in
#default in works only on indexes
#.values should be used
1 in vk.values

True

In [ ]:
#loops
for i in vk:
  print(i)

match_no
runs

In [ ]:
#All Arithmetic operations
100 - vk

     match_no  runs
0          99    99
1          98    77
2          97    87
3          96    88
4          95    99
..        ...   ...
210      -111   100
211      -112    80
212      -113    27
213      -114    75
214      -115    93

[215 rows x 2 columns]

In [ ]:
#Also supports all relational Operators
vk >=50

     match_no   runs
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
..        ...    ...
210      True  False
211      True  False
212      True   True
213      True  False
214      True  False

[215 rows x 2 columns]

In [ ]:
#boolean indexing
vk[vk<=50].size

430

In [ ]:
vk[vk==0].size

430